#Task 1: Load the dataset and display basic information about its structure.

In [194]:
import numpy as np
import pandas as pd

In [195]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

In [196]:
edf=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [197]:
edf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# Task 2: Show the first 15 and last 15 records.

In [198]:
edf.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

In [199]:
edf.tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Task 3: Display a random sample of 20 transactions.

In [200]:
edf.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
199005,554080,20972,PINK CREAM FELT CRAFT TRINKET BOX,3,5/22/2011 11:42,1.25,16931.0,United Kingdom
51913,540681,21620,SET OF 4 ROSE BOTANICAL CANDLES,1,1/10/2011 16:25,2.51,NaN,United Kingdom
486750,577746,22910,PAPER CHAIN KIT VINTAGE CHRISTMAS,6,11/21/2011 14:17,2.95,15274.0,United Kingdom
44757,540238,20832,RED FLOCK LOVE HEART PHOTO FRAME,1,1/5/2011 14:44,0.81,NaN,United Kingdom
519967,580197,22696,NaN,6,12/2/2011 12:04,0.00,NaN,United Kingdom
325001,565427,20762,GREEN FERN SKETCHBOOK,1,9/4/2011 12:49,3.75,17774.0,United Kingdom
385881,570218,23314,VINTAGE CHRISTMAS TABLECLOTH,4,10/9/2011 12:20,12.50,16873.0,United Kingdom
430587,573585,22282,12 EGG HOUSE PAINTED WOOD,2,10/31/2011 14:41,24.96,NaN,United Kingdom
38678,539595,22729,ALARM CLOCK BAKELIKE ORANGE,1,12/20/2010 13:43,7.62,NaN,United Kingdom
259270,559693,21625,VINTAGE UNION JACK APRON,1,7/11/2011 16:21,4.13,NaN,United Kingdom
410774,572130,23231,WRAP VINTAGE DOILY,25,10/21/2011 9:50,0.42,13460.0,United Kingdom
382726,569943,85184C,SET 4 VALENTINE DECOUPAGE HEART BOX,1,10/6/2011 18:08,2.95,14592.0,United Kingdom
509584,579365,23084,RABBIT NIGHT LIGHT,6,11/29/2011 11:54,2.08,14173.0,United Kingdom
283745,561799,84879,ASSORTED COLOUR BIRD ORNAMENT,8,7/29/2011 13:46,1.69,15776.0,United Kingdom
204277,554650,23200,JUMBO BAG PEARS,10,5/25/2011 12:54,2.08,12681.0,France
98323,544677,22161,HEART DECORATION RUSTIC HANGING,4,2/22/2011 16:13,0.65,18196.0,United Kingdom
354758,567898,23380,PACK OF 12 VINTAGE DOILY TISSUES,24,9/22/2011 16:20,0.39,13394.0,United Kingdom
38098,539492,22507,MEMO BOARD RETROSPOT DESIGN,1,12/20/2010 10:14,11.02,NaN,United Kingdom
27371,538533,22067,CHOC TRUFFLE GOLD TRINKET POT,2,12/13/2010 10:31,1.65,14796.0,United Kingdom
199362,554096,22088,PAPER BUNTING COLOURED LACE,6,5/22/2011 12:51,2.95,14921.0,United Kingdom

# Task 4: Find out how many rows and columns are in the dataset.

In [201]:
edf.shape

(541909, 8)

# Task 5: List all column names.

In [202]:
edf.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

#Task 6: Check the data type of each column.

In [203]:
edf.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

# Task 7: Get a statistical summary of all numerical columns.

In [204]:
edf.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# Task 8: Identify which columns have missing values and how many.

In [205]:
edf.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# Task 9: Find out how many transactions have missing CustomerID.

In [206]:
len(edf[edf['CustomerID'].isna()])

135080

# Task 10: Check if there are any duplicate rows in the dataset.

In [207]:
edf.duplicated().sum()

np.int64(5268)

# Task 11: Identify transactions where Quantity is less than or equal to zero.

In [208]:
edf[edf['Quantity']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

# Task 12: Find transactions where UnitPrice is zero or negative.

In [209]:
edf[edf['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

# Task 13: Identify how many invoice numbers start with the letter 'C'.

In [210]:
len(edf[edf['InvoiceNo'].str.startswith('C')])

9288

# Task 14: Check if the Description column has any leading or trailing spaces.

In [211]:
(edf['Description'].str.startswith(' ') | edf['Description'].str.endswith(' ')).sum()

np.int64(113452)

# Task 15: Remove all rows where CustomerID is missing.

In [212]:
edf.dropna(subset=['CustomerID'], inplace=True)

# Task 16: For missing product descriptions, fill them with "Unknown Product".

In [213]:
edf.fillna({'Description': 'Unknown Product'}, inplace=True)

# Task 17: Remove all duplicate transactions.

In [214]:
edf.drop_duplicates(inplace=True)

# Task 18: Remove transactions where Quantity is less than or equal to zero.

In [215]:
edf = edf[edf['Quantity'] > 0]

#Task 19: Remove transactions where UnitPrice is less than or equal to zero.

In [216]:
edf = edf[edf['UnitPrice'] > 0]

#Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [217]:
edf.drop(edf[edf['InvoiceNo'].str.startswith('C')].index, inplace=True)

# Task 21: Change the column name "Description" to "ProductName".

In [218]:
edf.rename(columns={'Description': 'ProductName'}, inplace=True)

#Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [219]:
edf['InvoiceDate'] = pd.to_datetime(edf['InvoiceDate'])

#Task 23: Convert CustomerID to integer type.

In [220]:
edf['CustomerID'] = edf['CustomerID'].astype(int)

#Task 24: Reset the index after all cleaning operations.

In [221]:
edf.reset_index(drop=True, inplace=True)

# Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [222]:
edf['Total Price'] = edf['Quantity'] * edf['UnitPrice']

# Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [223]:
edf['Year'] = edf['InvoiceDate'].dt.year

#Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [224]:
edf['Month'] = edf['InvoiceDate'].dt.month_name()

# Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [225]:
edf['Day'] = edf['InvoiceDate'].dt.day_name()

# Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [226]:
edf['Hour'] = edf['InvoiceDate'].dt.hour

# Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [227]:
edf['DayOfWeek'] = edf['InvoiceDate'].dt.day_name()

# Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [228]:
edf['Quarter'] = edf['InvoiceDate'].dt.quarter

# Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under 10

"Medium" for transactions between 10 and 100

"High" for transactions above 100

In [229]:
edf['RevenueCategory'] = np.where(edf['Total Price'] < 10, 'Low',
                         np.where(edf['Total Price'] <= 100, 'Medium', 'High'))

# Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5

"Medium" for Quantity between 5 and 20

"Large" for Quantity greater than 20

In [230]:
edf['Order Size'] = np.where(edf['Quantity'] < 5, 'Small',
                    np.where(edf['Quantity'] <= 20, 'Medium', 'Large'))

# Task 34: Create a column that shows the length of each product name.

In [231]:
edf['Len of Prod name'] = edf['ProductName'].str.len()

# Task 35: Convert all product names to uppercase.

In [232]:
edf['ProductName'] = edf['ProductName'].str.upper()

# Task 36: Remove any extra spaces from the Country column.

In [233]:
edf['Country'] = edf['Country'].str.strip()

#Task 37: Find all products that contain the word "BAG" in their name.

In [234]:
edf[edf['ProductName'].str.contains('BAG')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,December,Wednesday,9,Wednesday,4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,December,Friday,12,Friday,4,Medium,Large,28
392617,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,December,Friday,12,Friday,4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,December,Friday,12,Friday,4,Medium,Large,22
392645,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,December,Friday,12,Friday,4,Medium,Medium,27
392648,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,December,Friday,12,Friday,4,Medium,Large,23

#Task 38: Find all products whose names start with "WHITE".

In [235]:
edf[edf['ProductName'].str.startswith('WHITE')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,December,Thursday,19,Thursday,4,Medium,Medium,34
392135,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,December,Friday,8,Friday,4,Medium,Small,29
392372,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,December,Friday,10,Friday,4,Medium,Medium,32
392439,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,December,Friday,11,Friday,4,Low,Small,35
392498,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,December,Friday,11,Friday,4,Medium,Small,29

# Task 39: Find all products whose names end with "HOLDER".

In [236]:
edf[edf['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,December,Wednesday,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,December,Friday,11,Friday,4,Medium,Large,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,December,Friday,12,Friday,4,Low,Small,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,December,Friday,12,Friday,4,Medium,Large,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,December,Friday,12,Friday,4,Medium,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,December,Friday,12,Friday,4,Medium,Large,34

#Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [237]:
edf['Country'] = edf['Country'].replace('United Kingdom', 'UK')

# Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [238]:
edf['Country'] = edf['Country'].replace('EIRE', 'Ireland')

#Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [239]:
edf[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

#Task 43: Display transactions from Germany only.

In [240]:
edf[edf['Country'] == 'Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,December,Wednesday,13,Wednesday,4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,December,Wednesday,13,Wednesday,4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,December,Wednesday,13,Wednesday,4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,December,Wednesday,13,Wednesday,4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,December,Wednesday,13,Wednesday,4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,December,Friday,12,Friday,4,Medium,Medium,28
392585,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,December,Friday,12,Friday,4,Medium,Medium,32
392586,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,December,Friday,12,Friday,4,Medium,Medium,29
392587,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,December,Friday,12,Friday,4,Medium,Medium,32
392588,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,December,Friday,12,Friday,4,Medium,Medium,27

#Task 44: Display transactions where Quantity is greater than 50.

In [241]:
edf[edf['Quantity'] > 50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,December,Wednesday,9,Wednesday,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,December,Wednesday,9,Wednesday,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,December,Wednesday,9,Wednesday,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,December,Wednesday,9,Wednesday,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,December,Wednesday,9,Wednesday,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,December,Friday,11,Friday,4,High,Large,26
392489,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,December,Friday,11,Friday,4,Medium,Large,17
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,December,Friday,11,Friday,4,Medium,Large,32
392529,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,December,Friday,12,Friday,4,Medium,Large,30
392650,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,December,Friday,12,Friday,4,Medium,Large,32

#Task 45: Display transactions where UnitPrice is between 5 and 10.

In [242]:
edf[(edf['UnitPrice'] >= 5) & (edf['UnitPrice'] <= 10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,December,Wednesday,8,Wednesday,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,December,Wednesday,8,Wednesday,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,December,Wednesday,8,Wednesday,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,December,Wednesday,8,Wednesday,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,December,Wednesday,8,Wednesday,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,December,Friday,12,Friday,4,Low,Small,24
392641,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,December,Friday,12,Friday,4,Medium,Small,13
392661,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,December,Friday,12,Friday,4,Medium,Small,21
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,December,Friday,12,Friday,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,December,Friday,12,Friday,4,Medium,Medium,21

#Task 46: Display transactions from France with Quantity greater than 20.

In [243]:
edf[(edf['Country'] == 'France') & (edf['Quantity'] > 20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,December,Wednesday,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,December,Wednesday,8,Wednesday,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,December,Wednesday,8,Wednesday,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,December,Wednesday,8,Wednesday,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,December,Wednesday,8,Wednesday,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,December,Wednesday,8,Wednesday,4,Medium,Large,18
387485,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,December,Wednesday,8,Wednesday,4,Medium,Large,26
389063,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,December,Wednesday,15,Wednesday,4,Medium,Large,29
389074,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,December,Wednesday,15,Wednesday,4,Medium,Large,33
389081,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,December,Wednesday,15,Wednesday,4,Medium,Large,18

#Task 47: Display transactions from December 2010.

In [244]:
edf[(edf['Month'] == 'December') & (edf['Year'] == 2010)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,December,Thursday,16,Thursday,4,Low,Small,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,December,Thursday,16,Thursday,4,Low,Small,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,December,Thursday,16,Thursday,4,Low,Small,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,December,Thursday,16,Thursday,4,Low,Small,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,December,Thursday,16,Thursday,4,Low,Small,19

#Task 48: Display transactions that occurred on weekends.

In [245]:
edf[(edf['DayOfWeek'] == 'Saturday') | (edf['DayOfWeek'] == 'Sunday')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,December,Sunday,10,Sunday,4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,December,Sunday,10,Sunday,4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,December,Sunday,10,Sunday,4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,December,Sunday,10,Sunday,4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,December,Sunday,10,Sunday,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,December,Sunday,16,Sunday,4,Medium,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,December,Sunday,16,Sunday,4,Low,Medium,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,December,Sunday,16,Sunday,4,Medium,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,December,Sunday,16,Sunday,4,Medium,Small,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,December,Sunday,16,Sunday,4,Medium,Small,7

#Task 49: Display the top 10 transactions by TotalPrice.

In [246]:
edf.sort_values(by='Total Price', ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,December,Friday,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,January,Tuesday,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,June,Friday,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,May,Tuesday,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,September,Tuesday,11,Tuesday,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,April,Monday,13,Monday,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,January,Tuesday,12,Tuesday,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,October,Thursday,12,Thursday,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,January,Tuesday,12,Tuesday,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,April,Monday,13,Monday,2,High,Large,34

#Task 50: Display the bottom 15 transactions by TotalPrice.

In [247]:
edf.sort_values(by='Total Price', ascending=False).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,October,Thursday,11,Thursday,4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,December,Thursday,11,Thursday,4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,October,Sunday,12,Sunday,4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,September,Sunday,12,Sunday,3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,September,Sunday,12,Sunday,3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,July,Monday,11,Monday,3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,November,Thursday,12,Thursday,4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,June,Monday,12,Monday,2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,July,Friday,15,Friday,3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,July,Sunday,15,Sunday,3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,November,Friday,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,September,Sunday,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,September,Monday,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,July,Tuesday,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,April,Friday,9,Friday,2,Low,Small,26

#Task 51: Find all transactions from either UK, Germany, or France.

In [248]:
edf[edf['Country'].isin(['UK', 'Germany', 'France'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,December,Friday,12,Friday,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,December,Friday,12,Friday,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,December,Friday,12,Friday,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,December,Friday,12,Friday,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,December,Friday,12,Friday,4,Medium,Small,29

#Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [249]:
edf[edf['Total Price'] > edf['Total Price'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,December,Wednesday,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,December,Wednesday,8,Wednesday,4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,December,Wednesday,8,Wednesday,4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,December,Wednesday,8,Wednesday,4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,December,Wednesday,9,Wednesday,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392610,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,December,Friday,12,Friday,4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,December,Friday,12,Friday,4,Medium,Large,22
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,December,Friday,12,Friday,4,Medium,Large,31
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,December,Friday,12,Friday,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,December,Friday,12,Friday,4,Medium,Medium,21

#Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [250]:
edf.sort_values(by='InvoiceDate', ascending=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,December,Wednesday,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,December,Friday,12,Friday,4,Medium,Medium,25
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,December,Friday,12,Friday,4,Medium,Medium,30
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,December,Friday,12,Friday,4,Medium,Small,31
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,December,Friday,12,Friday,4,Medium,Small,26
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,December,Friday,12,Friday,4,Medium,Small,29

#Task 54: Sort the dataset by TotalPrice in descending order.

In [251]:
edf.sort_values(by='Total Price', ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,December,Friday,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,January,Tuesday,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,June,Friday,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,May,Tuesday,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,September,Tuesday,11,Tuesday,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,November,Friday,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,September,Sunday,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,September,Monday,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,July,Tuesday,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,April,Friday,9,Friday,2,Low,Small,26

#Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [252]:
edf.sort_values(by='Country', ascending=True)
edf.sort_values(by='Total Price', ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,December,Friday,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,January,Tuesday,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,June,Friday,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,May,Tuesday,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,September,Tuesday,11,Tuesday,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,November,Friday,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,September,Sunday,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,September,Monday,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,July,Tuesday,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,April,Friday,9,Friday,2,Low,Small,26

#Task 56: Find the 20 highest-value transactions.

In [253]:
edf.sort_values(by='Total Price', ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,December,Friday,9,Friday,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,January,Tuesday,10,Tuesday,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,June,Friday,15,Friday,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,May,Tuesday,13,Tuesday,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,September,Tuesday,11,Tuesday,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,April,Monday,13,Monday,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,January,Tuesday,12,Tuesday,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,October,Thursday,12,Thursday,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,January,Tuesday,12,Tuesday,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,April,Monday,13,Monday,2,High,Large,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,January,Tuesday,12,Tuesday,1,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,June,Thursday,11,Thursday,2,High,Large,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,April,Monday,13,Monday,2,High,Large,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,August,Thursday,18,Thursday,3,High,Large,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,October,Thursday,14,Thursday,4,High,Small,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,October,Thursday,14,Thursday,4,High,Small,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,January,Tuesday,8,Tuesday,1,High,Large,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,October,Wednesday,11,Wednesday,4,High,Small,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,December,Wednesday,12,Wednesday,4,High,Large,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,December,Tuesday,16,Tuesday,4,High,Large,28

#Task 57: Find the 20 lowest-value transactions (excluding returns).

In [254]:
edf.sort_values(by='Total Price', ascending=False).tail(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
386153,580884,22422,TOOTHPASTE TUBE PEN,1,2011-12-06 12:21:00,0.120,15907,UK,0.120,2011,December,Tuesday,12,Tuesday,4,Low,Small,19
335405,575943,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-13 11:44:00,0.120,17920,UK,0.120,2011,November,Sunday,11,Sunday,4,Low,Small,31
391477,581425,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 15:31:00,0.120,14796,UK,0.120,2011,December,Thursday,15,Thursday,4,Low,Small,19
321555,574682,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-06 12:44:00,0.120,14963,UK,0.120,2011,November,Sunday,12,Sunday,4,Low,Small,31
217980,564191,85204,HANGING WOOD AND FELT FLOWER,1,2011-08-23 16:16:00,0.120,17315,UK,0.120,2011,August,Tuesday,16,Tuesday,3,Low,Small,28
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,October,Thursday,11,Thursday,4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,December,Thursday,11,Thursday,4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,October,Sunday,12,Sunday,4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,September,Sunday,12,Sunday,3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,September,Sunday,12,Sunday,3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,July,Monday,11,Monday,3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,November,Thursday,12,Thursday,4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,June,Monday,12,Monday,2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,July,Friday,15,Friday,3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,July,Sunday,15,Sunday,3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,November,Friday,11,Friday,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,September,Sunday,14,Sunday,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,September,Monday,17,Monday,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,July,Tuesday,10,Tuesday,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,April,Friday,9,Friday,2,Low,Small,26

#Task 58: Calculate the total revenue generated across all transactions.

In [255]:
edf['Total Price'].sum()

np.float64(8887208.894)

#Task 59: Calculate the average transaction value.

In [256]:
edf['Total Price'].mean()

np.float64(22.6314997351614)

#Task 60: Find the maximum and minimum transaction values.

In [257]:
print(edf['Total Price'].max())
print(edf['Total Price'].min())

168469.6
0.001

#Task 61: Calculate the total number of unique customers.

In [258]:
edf['CustomerID'].nunique()

4338

#Task 62: Calculate the total number of unique products sold.

In [259]:
edf['ProductName'].nunique()

3877

#Task 63: Find out how many unique countries are represented in the data.

In [260]:
edf['Country'].nunique()

37

#Task 64: Calculate the average number of items per transaction.

In [261]:
edf['Quantity'].mean()

np.float64(13.1197019547126)

#Task 65: Find which product appears most frequently in transactions.

In [262]:
edf['ProductName'].mode()

0    WHITE HANGING HEART T-LIGHT HOLDER
Name: ProductName, dtype: object

#Task 66: Calculate total revenue for each country.

In [263]:
edf.groupby('Country')['Total Price'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: Total Price, dtype: float64

#Task 67: Find the top 10 countries by total revenue.

In [264]:
edf.groupby('Country')['Total Price'].sum().sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: Total Price, dtype: float64

#Task 68: Calculate the number of transactions per country.

In [265]:
edf.groupby('Country')['InvoiceNo'].count()

Country
Australia                 1181
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            747
Cyprus                     603
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8326
Germany                   9025
Greece                     145
Iceland                    182
Ireland                   7226
Israel                     245
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2359
Norway                    1071
Poland                     330
Portugal                  1453
RSA                         57
Saudi Arabia                 9
Singapore                  222
Spain                     2479
Sweden                     450
Switzerland               1841
UK                      349203
USA                        179
United Arab Emirates        68
Unspecified                241
Name: InvoiceNo, dtype: int64

#Task 69: Calculate the average transaction value for each country.

In [266]:
edf.groupby('Country')['Total Price'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: Total Price, dtype: float64

#Task 70: Find which country has the highest average order value.

In [267]:
edf.groupby('Country')['Total Price'].mean().sort_values(ascending=False).head(1)

Country
Netherlands    121.003111
Name: Total Price, dtype: float64



#Task 71: Calculate the total quantity of products sold to each country.

In [268]:
edf.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

#Task 72: Find the country with the most unique customers.

In [269]:
edf.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False).head(1)

Country
UK    3920
Name: CustomerID, dtype: int64

#Task 73: Calculate total revenue for each month.

In [270]:
edf.groupby('Month')['Total Price'].sum()

Month
April         468374.331
August        644051.040
December     1087613.170
February      446084.920
January       568101.310
July          598962.901
June          660046.050
March         594081.760
May           677355.150
November     1156205.610
October      1035642.450
September     950690.202
Name: Total Price, dtype: float64

#Task 74: Find which month had the highest sales.

In [271]:
edf.groupby('Month')['Total Price'].sum().sort_values(ascending=False).head(1)

Month
November    1156205.61
Name: Total Price, dtype: float64

#Task 75: Calculate revenue for each quarter.

In [272]:
edf.groupby('Quarter')['Total Price'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: Total Price, dtype: float64

#Task 76: Calculate the number of transactions per day of the week.

In [273]:
edf.groupby('DayOfWeek')['InvoiceNo'].count()

DayOfWeek
Friday       54222
Monday       64231
Sunday       61212
Thursday     79243
Tuesday      65744
Wednesday    68040
Name: InvoiceNo, dtype: int64

#Task 77: Find which day of the week has the highest average revenue.

In [274]:
edf.groupby('DayOfWeek')['Total Price'].mean().sort_values(ascending=False).head(1)

DayOfWeek
Friday    27.352012
Name: Total Price, dtype: float64

#Task 78: Calculate hourly sales patterns (revenue by hour of day).

In [275]:
edf.groupby('Hour')['Total Price'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: Total Price, dtype: float64

#Task 79: Compare sales between 2010 and 2011.

In [276]:
edf.groupby('Year')['Total Price'].sum()

Year
2010     570422.730
2011    8316786.164
Name: Total Price, dtype: float64

#Task 80: Calculate month-over-month revenue growth rate.

In [277]:
edf['Month'] = pd.to_datetime(edf['InvoiceDate']).dt.to_period('M')

#Task 81: Calculate total spending for each customer.

In [278]:
edf.groupby('CustomerID')['Total Price'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: Total Price, Length: 4338, dtype: float64

#Task 82: Find the top 20 customers by total spending.

In [279]:
edf.groupby('CustomerID')['Total Price'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: Total Price, dtype: float64

#Task 83: Calculate the number of transactions per customer.

In [280]:
edf.groupby('CustomerID')['InvoiceNo'].count()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    721
18287     70
Name: InvoiceNo, Length: 4338, dtype: int64

#Task 84: Find the average order value for each customer.

In [281]:
edf.groupby('CustomerID')['Total Price'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: Total Price, Length: 4338, dtype: float64

#Task 85: Identify customers who have made only one purchase.

In [282]:
edf.groupby('CustomerID').filter(lambda x: x['InvoiceNo'].nunique() == 1)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
153,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,2010-12-01 09:53:00,6.45,18074,UK,19.35,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Small,33
154,536384,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,48,2010-12-01 09:53:00,0.65,18074,UK,31.20,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Large,35
155,536384,22464,HANGING METAL HEART LANTERN,12,2010-12-01 09:53:00,1.65,18074,UK,19.80,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Medium,27
156,536384,21324,HANGING MEDINA LANTERN SMALL,6,2010-12-01 09:53:00,2.95,18074,UK,17.70,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Medium,28
157,536384,22457,NATURAL SLATE HEART CHALKBOARD,12,2010-12-01 09:53:00,2.95,18074,UK,35.40,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Medium,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,2011-12,Friday,12,Friday,4,Medium,Medium,28
392585,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,2011-12,Friday,12,Friday,4,Medium,Medium,32
392586,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,2011-12,Friday,12,Friday,4,Medium,Medium,29
392587,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,2011-12,Friday,12,Friday,4,Medium,Medium,32
392588,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,2011-12,Friday,12,Friday,4,Medium,Medium,27

#Task 86: Find customers who spent more than 10,000 in total.

In [283]:
edf.groupby('CustomerID').filter(lambda x: x['Total Price'].sum() > 10000)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name
106,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,4.25,15311,UK,97.75,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Large,32
107,536381,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,4.95,15311,UK,24.75,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Medium,19
108,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,1.95,15311,UK,19.50,2010,2010-12,Wednesday,9,Wednesday,4,Medium,Medium,33
109,536381,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,2.10,15311,UK,4.20,2010,2010-12,Wednesday,9,Wednesday,4,Low,Small,25
110,536381,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,6,2010-12-01 09:41:00,1.25,15311,UK,7.50,2010,2010-12,Wednesday,9,Wednesday,4,Low,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,2011-12,Friday,12,Friday,4,Medium,Large,31
392673,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113,UK,23.60,2011,2011-12,Friday,12,Friday,4,Medium,Medium,35
392674,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113,UK,30.00,2011,2011-12,Friday,12,Friday,4,Medium,Large,32
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,2011-12,Friday,12,Friday,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,2011-12,Friday,12,Friday,4,Medium,Medium,21

#Task 87: Calculate the average number of days between purchases for each customer.

In [284]:
average_days_between_purchases = edf.sort_values(by=['CustomerID', 'InvoiceDate']).groupby('CustomerID')['InvoiceDate'].apply(lambda x: x.diff().mean())
print(average_days_between_purchases)

CustomerID
12346                         NaT
12347   2 days 00:24:10.276243093
12348             9 days 10:12:08
12349             0 days 00:00:00
12350             0 days 00:00:00
                   ...
18280             0 days 00:00:00
18281             0 days 00:00:00
18282            10 days 19:28:00
18283             0 days 11:07:49
18287   2 days 07:17:14.782608695
Name: InvoiceDate, Length: 4338, dtype: timedelta64[ns]

#Task 88: Find the top 20 products by revenue.

In [285]:
edf.groupby('ProductName')['Total Price'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: Total Price, dtype: float64

#Task 89: Find the top 20 products by quantity sold.

In [286]:
edf.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

#Task 90: Calculate the average price for each product.

In [287]:
edf.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

#Task 91: Find products that have been sold to more than 10 different countries.

#Task 92: Identify the most expensive and cheapest products.

In [288]:
edf.groupby('ProductName')['UnitPrice'].max().sort_values(ascending=False).head(1)

ProductName
POSTAGE    8142.75
Name: UnitPrice, dtype: float64

In [289]:
edf.groupby('ProductName')['UnitPrice'].min().sort_values(ascending=True).head(1)

ProductName
PADS TO MATCH ALL CUSHIONS    0.001
Name: UnitPrice, dtype: float64

#Task 93: Calculate total revenue by Country and Year.

In [290]:
edf.groupby(['Country', 'Year'])['Total Price'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: Total Price, dtype: float64

#Task 94: Calculate average transaction value by Country and Quarter.

In [291]:
edf.groupby(['Country', 'Quarter'])['Total Price'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          136.336559
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: Total Price, Length: 117, dtype: float64

#Task 95: Find the number of transactions by Country and Month.

In [292]:
edf.groupby(['Country', 'Month'])['InvoiceNo'].count()

Country      Month
Australia    2010-12     31
             2011-01    127
             2011-02     89
             2011-03    108
             2011-04     18
                       ...
Unspecified  2011-04     16
             2011-05     47
             2011-06      9
             2011-07    146
             2011-08     23
Name: InvoiceNo, Length: 287, dtype: int64

#Task 96: Calculate total revenue by Day of Week and Hour.

In [293]:
edf.groupby(['DayOfWeek', 'Hour'])['Total Price'].sum()

DayOfWeek  Hour
Friday     7        17284.880
           8        52656.610
           9       296376.831
           10      182871.600
           11      166546.630
                      ...
Wednesday  15      160053.320
           16       81464.310
           17       23428.060
           19        2893.400
           20       13031.500
Name: Total Price, Length: 73, dtype: float64

#Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [294]:
edf.groupby('Country')['Total Price'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max     min
Country
Australia              138453.810  117.234386    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   548.400   32.258824     120.00  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20440.540   27.363507     408.00   4.560
Cyprus                  13502.850   22.392786     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 208934.310   25.094200    4161.06   0.290
Germany                228678.400   25.338327     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Iceland                  4310.000   23.681319     249.60   5.040
Ireland                265262.460   36.709446    2365.20   1.250
Israel                   7215.840   29.452408     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33375.840   22.970296    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61558.560   24.832013    1350.00   0.210
Sweden                  38367.830   85.261844    1188.00   5.040
Switzerland             56443.950   30.659397     360.00   2.000
UK                    7285024.644   20.861862  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              2660.770   11.040539      69.36   0.190

#Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [295]:
edf.groupby('CustomerID').agg(Total_Spend = ('Total Price', 'sum'),No_of_Orders = ('InvoiceNo', 'nunique'),Average_Order_Value = ('Total Price', 'mean'))

            Total_Spend  No_of_Orders  Average_Order_Value
CustomerID
12346          77183.60             1         77183.600000
12347           4310.00             7            23.681319
12348           1797.24             4            57.975484
12349           1757.55             1            24.076027
12350            334.40             1            19.670588
...                 ...           ...                  ...
18280            180.60             1            18.060000
18281             80.82             1            11.545714
18282            178.05             2            14.837500
18283           2045.53            16             2.837074
18287           1837.28             3            26.246857

[4338 rows x 3 columns]

#Task 99: For each product, calculate total quantity sold and total revenue generated.

In [296]:
edf.groupby('ProductName').agg({'Quantity': 'sum', 'Total Price': 'sum'})

                                  Quantity  Total Price
ProductName
 4 PURPLE FLOCK DINNER CANDLES         138       265.66
 50'S CHRISTMAS GIFT BAG LARGE        1885      2272.25
 DOLLY GIRL BEAKER                    2394      2754.50
 I LOVE LONDON MINI BACKPACK           359      1449.85
 I LOVE LONDON MINI RUCKSACK             1         4.15
...                                    ...          ...
ZINC T-LIGHT HOLDER STARS SMALL       4894      3879.98
ZINC TOP  2 DOOR WOODEN SHELF           10       169.50
ZINC WILLIE WINKIE  CANDLE STICK      2606      2176.10
ZINC WIRE KITCHEN ORGANISER             25       156.80
ZINC WIRE SWEETHEART LETTER TRAY        80       253.24

[3877 rows x 2 columns]

#Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [297]:
pivot1 = edf.pivot_table(index='Country', columns='Month', values='Total Price', aggfunc='sum')

#Task 101: Create a summary showing average quantity purchased by country and quarter.

In [298]:
pivot2 = edf.pivot_table(index='Country', columns='Quarter', values='Quantity', aggfunc='mean')

#Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [299]:
pivot3 = edf.pivot_table(index='Country', columns='RevenueCategory', values='Quantity', aggfunc='count')

#Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [300]:
monthly_sum = edf.groupby(['Year','Month'])['Total Price'].sum()
edf['Percentage of Monthly Revenue'] = (edf['Total Price'] / edf.set_index(['Year','Month']).index.map(monthly_sum) * 100)
edf['Percentage of Monthly Revenue']

0         0.002682
1         0.003566
2         0.003857
3         0.003566
4         0.003566
            ...
392687    0.001972
392688    0.002436
392689    0.003210
392690    0.003210
392691    0.002871
Name: Percentage of Monthly Revenue, Length: 392692, dtype: float64

#Task 104: Add a column showing each customer's ranking based on their total spending.

In [301]:
edf['Customer Spending Rank'] = edf.groupby('CustomerID')['Total Price'].rank(ascending=False)
edf['Customer Spending Rank']

0         162.0
1          92.5
2          66.5
3          92.5
4          92.5
          ...
392687     46.0
392688     44.5
392689     25.0
392690     25.0
392691     42.0
Name: Customer Spending Rank, Length: 392692, dtype: float64

#Task 105: Add a column showing the cumulative revenue over time.

In [302]:
edf['Cumulative Revenue'] = edf.groupby('CustomerID')['Total Price'].cumsum()
edf['Cumulative Revenue']

0          15.30
1          35.64
2          57.64
3          77.98
4          98.32
           ...
392687    802.16
392688    814.76
392689    831.36
392690    847.96
392691    862.81
Name: Cumulative Revenue, Length: 392692, dtype: float64

#Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [303]:
edf_2010 = edf[edf['Year'] == 2010]
edf_2011 = edf[edf['Year'] == 2011]
edf_combined = pd.concat([edf_2010, edf_2011])
edf_combined

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name,Percentage of Monthly Revenue,Customer Spending Rank,Cumulative Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,Wednesday,8,Wednesday,4,Medium,Medium,34,0.002682,162.0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Wednesday,8,Wednesday,4,Medium,Medium,19,0.003566,92.5,35.64
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,Wednesday,8,Wednesday,4,Medium,Medium,30,0.003857,66.5,57.64
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Wednesday,8,Wednesday,4,Medium,Medium,35,0.003566,92.5,77.98
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Wednesday,8,Wednesday,4,Medium,Medium,30,0.003566,92.5,98.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,Friday,12,Friday,4,Medium,Medium,27,0.001972,46.0,802.16
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,Friday,12,Friday,4,Medium,Medium,28,0.002436,44.5,814.76
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,Friday,12,Friday,4,Medium,Small,29,0.003210,25.0,831.36
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,Friday,12,Friday,4,Medium,Small,31,0.003210,25.0,847.96
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,Friday,12,Friday,4,Medium,Small,29,0.002871,42.0,862.81

#Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [304]:
edf_uk = edf[edf['Country'] == 'UK']
edf_non_uk = edf[edf['Country'] != 'UK']
edf_combined = pd.concat([edf_uk, edf_non_uk], axis=1)
edf_combined

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,Order Size,Len of Prod name,Percentage of Monthly Revenue,Customer Spending Rank,Cumulative Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,Friday,12.0,Friday,4.0,Medium,Medium,27.0,0.001972,46.0,802.16
392688,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,Friday,12.0,Friday,4.0,Medium,Medium,28.0,0.002436,44.5,814.76
392689,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,Friday,12.0,Friday,4.0,Medium,Small,29.0,0.003210,25.0,831.36
392690,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,Friday,12.0,Friday,4.0,Medium,Small,31.0,0.003210,25.0,847.96
392691,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,Friday,12.0,Friday,4.0,Medium,Small,29.0,0.002871,42.0,862.81

#Task 108: Create a new dataset with customer information (make up data):

CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [305]:
names = ["Aarav Kumar","Meera Sharma","Rohan Patel","Kavya Nair","Arjun Mehta","Ishita Reddy","Devansh Singh","Priya Menon","Aditya Verma","Sneha Joshi","Varun Desai","Nisha Pillai","Siddharth Rao","Ananya Gupta","Harshith Gowda","Riya Malhotra","Kiran Shetty","Neha Kulkarni","Vivek Anand","Shruti Jain","Akash Mishra","Tanvi Iyer","Yashwanth Rao","Pooja Bhat","Manish Khanna","Aishwarya Dutta","Rahul Suresh","Diya Prakash","Sandeep Varma","Sanjana Pai"]

In [306]:
membership = ['Bronze', 'Silver', 'Gold']

In [307]:
edf['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00')

In [308]:
edf['InvoiceDate'].min()

Timestamp('2010-12-01 08:26:00')

In [309]:
join_dates = pd.date_range(start="2010-12-01", end="2011-12-09").astype(str)

In [310]:
unique_customers = edf['CustomerID'].unique()

cdf = pd.DataFrame({
    "CustomerID": unique_customers,
    "CustomerName": np.random.choice(names, size=len(unique_customers)),
    "MembershipLevel": np.random.choice(membership, size=len(unique_customers)),
    "JoinDate": np.random.choice(join_dates, size=len(unique_customers))
})

#Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

In [311]:
edf = edf.merge(cdf, on='CustomerID', how='left')
edf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Quarter,RevenueCategory,Order Size,Len of Prod name,Percentage of Monthly Revenue,Customer Spending Rank,Cumulative Revenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,4,Medium,Medium,34,0.002682,162.0,15.30,Riya Malhotra,Bronze,2011-07-15
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,19,0.003566,92.5,35.64,Riya Malhotra,Bronze,2011-07-15
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,4,Medium,Medium,30,0.003857,66.5,57.64,Riya Malhotra,Bronze,2011-07-15
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,35,0.003566,92.5,77.98,Riya Malhotra,Bronze,2011-07-15
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,4,Medium,Medium,30,0.003566,92.5,98.32,Riya Malhotra,Bronze,2011-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,4,Medium,Medium,27,0.001972,46.0,802.16,Sanjana Pai,Gold,2011-11-28
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,4,Medium,Medium,28,0.002436,44.5,814.76,Sanjana Pai,Gold,2011-11-28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,Medium,Small,29,0.003210,25.0,831.36,Sanjana Pai,Gold,2011-11-28
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,Medium,Small,31,0.003210,25.0,847.96,Sanjana Pai,Gold,2011-11-28
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,4,Medium,Small,29,0.002871,42.0,862.81,Sanjana Pai,Gold,2011-11-28

In [312]:
edf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   InvoiceNo                      392692 non-null  object
 1   StockCode                      392692 non-null  object
 2   ProductName                    392692 non-null  object
 3   Quantity                       392692 non-null  int64
 4   InvoiceDate                    392692 non-null  datetime64[ns]
 5   UnitPrice                      392692 non-null  float64
 6   CustomerID                     392692 non-null  int64
 7   Country                        392692 non-null  object
 8   Total Price                    392692 non-null  float64
 9   Year                           392692 non-null  int32
 10  Month                          392692 non-null  period[M]
 11  Day                            392692 non-null  object
 12  Hour                           392692 non-null  int32
 13  DayOfWeek                      392692 non-null  object
 14  Quarter                        392692 non-null  int32
 15  RevenueCategory                392692 non-null  object
 16  Order Size                     392692 non-null  object
 17  Len of Prod name               392692 non-null  int64
 18  Percentage of Monthly Revenue  392692 non-null  float64
 19  Customer Spending Rank         392692 non-null  float64
 20  Cumulative Revenue             392692 non-null  float64
 21  CustomerName                   392692 non-null  object
 22  MembershipLevel                392692 non-null  object
 23  JoinDate                       392692 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(3), int64(3), object(11), period[M](1)
memory usage: 67.4+ MB

#Task 110: Create a product categories dataset (make up data):

StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

In [313]:
unique_stockcodes = edf['StockCode'].unique()
categories = ["Home", "Kitchen", "Gift", "Office", "Garden", "Electronics"]

In [314]:
product_categories = pd.DataFrame({
    'StockCode': unique_stockcodes,
    'Category': np.random.choice(categories, size=len(unique_stockcodes))
})

#Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.

In [315]:
df = edf.merge(product_categories, on='StockCode', how='left')

In [316]:
df.groupby('Category')['Total Price'].sum()

Category
Electronics    1452881.250
Garden         1446882.540
Gift           1767885.144
Home           1408876.080
Kitchen        1378917.390
Office         1431766.490
Name: Total Price, dtype: float64

#Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [317]:
edf.groupby('MembershipLevel')['Total Price'].sum()

MembershipLevel
Bronze    2744010.940
Gold      2803682.071
Silver    3339515.883
Name: Total Price, dtype: float64

#Task 113: Show which product categories are most popular in each country.

In [318]:
pd.pivot_table(df,index='Country',columns='Category',values='Total Price',aggfunc='sum')

Category,Electronics,Garden,Gift,Home,Kitchen,Office
Country,,,,,,
Australia,15076.91,22995.16,20907.580,28991.10,22097.87,28385.19
Austria,1686.58,2832.47,1542.320,1086.86,1750.04,1300.41
Bahrain,101.00,120.60,145.500,75.00,45.40,60.90
Belgium,5417.07,11329.01,6327.020,6455.25,5543.10,6124.89
Brazil,30.00,403.20,172.500,122.70,134.04,281.16
Canada,958.18,1105.64,294.300,433.16,413.39,461.71
Channel Islands,2825.41,3003.48,4231.000,3443.89,3571.56,3365.20
Cyprus,2719.10,2746.22,2428.260,1790.62,1937.37,1881.28
Czech Republic,137.58,220.48,54.840,75.36,117.20,221.28
Denmark,2238.47,5866.83,2861.920,2842.74,2394.20,2751.18
European Community,159.85,293.05,226.100,215.75,167.00,238.50
Finland,2205.68,7054.78,4766.020,2656.54,2026.68,3836.38
France,36167.40,46480.86,30162.370,37357.19,31720.49,27046.00
Germany,31233.82,63251.91,32999.350,37103.11,32634.37,31455.84
Greece,648.84,1144.88,1255.880,411.74,599.62,699.56
Iceland,513.56,1143.75,977.840,537.40,442.90,694.55
Ireland,38567.91,47169.43,54604.820,36360.77,43206.91,45352.62
Israel,973.56,2005.99,905.110,1457.03,817.81,1056.34
Italy,2759.82,3649.83,3496.520,2813.27,2344.27,2419.53
Japan,4720.93,3596.34,4327.390,14454.80,3842.33,6474.58
Lebanon,146.00,279.00,183.750,322.58,409.80,352.75
Lithuania,221.40,422.66,150.300,264.60,498.00,104.10
Malta,149.90,1003.37,411.680,374.16,416.25,370.23
Netherlands,38513.75,55299.49,42624.830,58118.86,43830.03,47059.38
Norway,5737.30,8599.30,5981.280,5832.67,5130.97,4883.92
Poland,866.95,1909.50,988.150,1538.14,1309.91,722.00
Portugal,8286.54,6696.20,5569.460,4257.47,4955.98,3610.19
RSA,126.89,232.07,160.500,213.15,146.30,123.40
Saudi Arabia,42.54,NaN,17.400,10.98,55.20,19.80
Singapore,13304.22,1386.86,2245.160,1322.51,1751.78,1268.76
Spain,8572.47,15553.85,11372.810,6500.46,7115.87,12443.10
Sweden,4130.05,5254.24,4439.310,3477.19,6125.10,14941.94
Switzerland,8729.73,13818.77,9590.330,7041.36,8008.06,9255.70
UK,1213711.76,1108436.61,1510159.624,1139618.37,1141932.72,1171165.56
USA,529.20,710.43,607.750,480.31,635.53,617.17
United Arab Emirates,280.42,441.24,314.760,328.56,282.00,255.30
Unspecified,390.46,425.04,381.410,490.43,507.34,466.09

#Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [319]:
Q = df['Quantity'].values
U = df['UnitPrice'].values

In [320]:
Q * U

array([15.3 , 20.34, 22.  , ..., 16.6 , 16.6 , 14.85])

In [321]:
quantity = df['Quantity'].to_numpy()
unit_price = df['UnitPrice'].to_numpy()

In [322]:
quantity * unit_price

array([15.3 , 20.34, 22.  , ..., 16.6 , 16.6 , 14.85])

#Task 115: Create an array of 1000 random transaction IDs.

In [323]:
Transaction_IDs = np.array(np.random.randint(0,5000,1000))
Transaction_IDs

array([1022, 4347, 3231,  731, 3874,  240, 4800, 4034, 3280, 4620, 3530,
       3452, 2105, 3680, 4563, 4519, 2278, 1364, 1806, 4739, 2859,  876,
       3205, 1985, 1676, 4771, 3625,  684, 4489, 3468, 1959, 3128,  684,
        117, 1110, 1532, 3792, 2380, 4701, 2377, 1157, 4599, 1622, 4848,
       1974, 1494, 1173, 4658, 3259, 3648, 1673, 3479, 3764, 1470, 4943,
       1142, 2372, 2338,  777,  929, 1663, 2133, 1972, 4930, 4261, 1413,
       2532, 3852, 1783, 1031, 3593, 2611, 4695,  149, 3659, 3453, 3669,
        995, 2958,  651,  699, 3390, 4298, 4512, 1302,  324,  296, 1013,
       3103, 3964, 3827, 1526, 1037, 2506, 3791, 3617, 3315, 3240, 1421,
        335, 2261, 4362, 3552, 2404, 2253, 2403,  496, 4987,  325, 4698,
       2664, 4282, 2070, 4600, 3789, 3982, 2236, 2394, 2533, 2535, 3448,
        724, 1536, 4490, 1181, 2067, 2645, 3573, 4444,  927, 1416, 3566,
       1414, 3501, 4506,  774, 4411, 1146, 4546, 1051, 2997, 1406, 1470,
       4670,  248, 1128, 1287, 2856, 1730, 2475, 1761, 2444,  800, 2950,
       1078, 3534,  687, 1172, 3395, 1591, 4906, 2832, 2793, 2940, 3934,
       1255, 4355, 2298,  402, 3929, 2942, 4337, 2780,  708, 4246, 2549,
        947, 3536,  572,  746,  472, 3825, 1024,  153, 3753, 2578, 2268,
       3251, 2451,  437, 1641, 3765, 1650, 3627, 3376, 1217,  602, 1878,
       4887, 3514, 3216, 4941, 2144, 4125, 4951, 1410,   70,  872, 2222,
       4739, 1850, 3079, 1917, 1639, 3541,   15,  538,  841, 4585, 1190,
       4983,  803, 1031, 1193, 2412, 1835, 1003, 4831,  413,  290, 1736,
       1424,  756, 3388, 2992, 3502,  451, 1856, 3424, 4869,  311, 2446,
       2201, 2904, 1790, 3881, 4965, 2709, 3208, 2293, 3895, 3581, 2987,
       3101, 4129, 4425, 3712, 3406, 1677, 4102, 4310, 2385, 1540, 2304,
       2435, 3908, 3835, 4844, 4765, 2692, 4018, 1725,  638, 2040,  398,
        729, 4496,  806, 2838, 2030, 2616, 3524, 3673, 1389, 2373, 2384,
       3814, 3737, 2643,  802, 3592, 1608, 3969, 3622, 3473, 1247, 2864,
       3324, 1929, 2939, 4235, 3891, 3925, 3146, 2048, 3228, 1582, 2105,
       3957,  914, 2476,  336, 1046, 1855, 1455, 2051, 2082, 3177, 3147,
        333, 1994, 2230, 4867, 3021, 3532, 1707, 2741, 3786,  607,  899,
       2883, 3349, 3039, 1992, 1365, 2560, 2358, 4658, 3815, 2193, 4426,
       3449, 3583, 2363, 3952, 1566, 4941, 2331, 2161, 2944, 3637, 2742,
       1274, 2102, 3634, 1259, 1694, 1861, 4926, 4085, 1841,   22, 3935,
       2013, 2930, 4966, 1236, 3774, 4037, 4861, 3031, 4775, 1854, 3335,
        425, 4755, 3123, 4354,  831,    7, 2418, 1012, 3620, 2274, 4237,
       4734, 1774, 4584, 4858, 3376, 1600,  832, 4608, 1461, 3379,  979,
       1535, 2437, 2882, 1682,  264, 4520, 1557, 2150, 3445, 3137,  173,
        278,  193, 1513,  271, 3775, 1810, 2179, 3338,  418, 4382,   63,
       4222, 1080, 1620, 4983, 4747,  146, 1657, 4984, 3436, 2856, 4040,
       2470, 2575,  695,  422, 2078, 4026, 3517, 3261,  544, 4360, 2931,
        615, 2428, 2426, 3609, 2206, 3382, 4585, 2297, 3736, 3801, 1086,
        440, 3641,  170, 3602, 1583,  745, 2801, 3939, 4433,  590, 4252,
       2489, 4735, 3384, 4819,  551, 1759, 3007,  436, 2815, 1165, 3634,
       1638, 4903,  590, 4196, 4747, 1456, 1782, 4040, 4749,  326, 4329,
       4819, 1556, 3319, 1676, 3328, 2240,  688, 4689,  803, 1500, 4542,
       4851, 3650,  725, 3211, 4294,  419, 1524, 1407, 3908, 4211, 4859,
        332, 3229, 4329,  885,  466, 1481,  631, 4006, 1129,   80, 2409,
       3937, 2204,  210,  148, 3639, 4643, 4080, 2303, 2134, 1976, 4026,
       3007,  822,  179, 2998, 4839, 2770, 4997, 1974, 1109,  248, 3633,
       2930, 4406, 3983, 4868, 1290, 4801, 2213, 4752,   64, 1260,  746,
         26, 2464, 4721, 4472, 4678, 1818, 3405, 4771,  759, 1467,   37,
       4176, 2211,  556,  778, 3898, 3826, 2265, 3378, 1555,   97, 3724,
       1141, 3121, 3208, 3328, 4486, 3425, 2294, 1346, 1379, 1428,  103,
        108, 3499, 4301,  216, 1539,  706,  179, 2449, 2013,  743, 2606,
       4706, 2100,  980, 1796, 1581, 1910, 3688, 1208, 1920, 2941, 4099,
       2582, 3198, 3279, 2416,  626, 2240, 4164, 4973, 1090, 1286, 2437,
       3726, 2194, 1555, 2857, 2615, 1196, 3760,   28, 3673, 4380, 3297,
       2739,  322, 4716,  875, 4244, 2935, 4325, 2613, 1222, 4737, 4240,
       1018, 2483, 3180, 1085, 3034,  564,  413, 4253, 4676, 2908, 4624,
       3487,  335, 1622, 4092,  760, 1930, 2264, 2766, 3724,   85, 3451,
       3592, 4428, 4831,  132, 4896, 4897, 4956, 4660, 4071, 4391, 2843,
       3303,  895, 1958, 2979,  386,  489,  701, 1656, 4411, 3043, 2767,
       3585, 4817, 3404, 2880,  320, 2607,  142,  854, 1614, 2559, 2560,
       2298, 1408, 4518, 3249, 1648, 4536, 4841, 1985, 2217, 3328, 2992,
       3336, 4430, 1846, 1969, 2260, 4354, 3727, 1355, 2844, 4330, 1197,
       4473, 3445, 4780,  671, 3759, 4678, 3885,  904, 2800, 3978, 2612,
       2273,  510, 3439, 3246, 1428, 3386, 2275, 1399, 2851, 1041, 1223,
       2941, 3280,  403, 1631,   76, 1795, 3126, 4918, 4305, 1158, 3487,
       3582, 2625, 4948, 2638, 3221, 3738, 4983, 1655, 4160,  330, 4453,
       4013, 2690, 1346, 1114, 4519, 1725, 4632,  580, 4551, 3114,  847,
       1669, 3941, 2933, 3989,  723, 3086, 3355, 1453, 2033, 3921, 3297,
       1450, 1437, 4234, 3940, 3259, 2904, 4088,  310, 3752,  533, 2026,
       2246, 2405, 3247, 2182, 3978,  609, 3258, 1512,  729, 2856,  690,
        645, 3866,   53, 1204,  211, 3000, 3467,  416, 1439, 2926, 4899,
       4171, 1528, 4402, 2705, 2013,  361,  966, 3043, 4292, 4719, 3637,
        607,  220, 3342,  836, 2702, 3719, 3316,  819, 2464, 4512, 4966,
       3891, 4835, 1149, 2297, 4549, 2236, 4775, 4795, 3801, 1212, 1532,
       4265,  139, 3855,  746, 1360, 2983, 1078,   73,  702, 3325, 3719,
        278, 2154, 3901, 2638, 2048,  445, 2401, 3722, 1920,  101,  657,
       3242, 4400, 2000, 2332, 4833, 1378, 2990, 4014, 2983, 1050,  186,
       3560, 1972, 1407, 1405, 4123, 4163, 2221, 3339, 1591, 3315, 3521,
       4418, 3403, 3296, 3095, 3992, 3920, 4383, 2790, 1007, 2247,   89,
       1237, 1336, 2015, 4785,  717,  440, 1448,  774,  750, 2838, 2820,
       3348, 3261, 1648, 1547,  363,  161, 4264, 4169, 4915, 4502, 1617,
        188, 1363, 3435,  574, 4734,  493, 4117, 3086, 4825,  701,  574,
       2892, 4768, 4529, 4315, 4827, 3838,  512, 4803, 2778, 3226, 4945,
       2121,   52,  744, 2127, 1981, 4762, 1255, 3420, 4717, 1117, 4006,
       1442, 3590, 3822, 1431, 3926, 2487,  443, 4840,  247,  564, 4276,
        914, 1053,  701, 2821, 2610, 1870,  953,  710, 1990, 3111, 4460,
       4922, 1615,  124,  894, 4100,  538, 4253, 2887, 3411, 2700, 2227,
       1180, 3661, 3315, 3224, 1983,   36,  796, 2993, 1711, 3839])

#Task 116: Generate 50 equally spaced price points between 0 and 500.

In [324]:
np.linspace(0,500,50)

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

#Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [325]:
np.zeros((12,7))

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

#Task 118: Extract quantities greater than 100 from the Quantity array.

In [326]:
Q[Q[::] > 100]

array([120, 192, 192, ..., 180, 144, 144])

#Task 119: Calculate the square root of all UnitPrice values.

In [327]:
np.sqrt(U)

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 2.03715488,
       2.22485955])

#Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [328]:
p25 = df['Total Price'].quantile(0.25)
p50 = df['Total Price'].quantile(0.5)
p75 = df['Total Price'].quantile(0.75)
print(p25,p50,p75)

4.949999999999999 12.45 19.799999999999997

#Task 121: Round all UnitPrice values to the nearest integer.

In [329]:
np.round(U)

array([3., 3., 3., ..., 4., 4., 5.])

#Task 122: Find positions where Quantity is maximum.

In [330]:
np.where(Q.max() == Q)[0]

array([392226])

#Task 123: Calculate the correlation between Quantity and UnitPrice.

In [331]:
correlation = np.corrcoef(df['Quantity'], df['UnitPrice'])[0, 1]
correlation

np.float64(-0.0045783143496490285)

#Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [332]:
Norm = (df['Total Price'] -  df['Total Price'].mean()) / np.std(df['Total Price'])
Norm

0        -0.023566
1        -0.007366
2        -0.002030
3        -0.007366
4        -0.007366
            ...
392687   -0.039960
392688   -0.032245
392689   -0.019388
392690   -0.019388
392691   -0.025013
Name: Total Price, Length: 392692, dtype: float64

#Task 125: Split the Quantity array into 4 equal parts.

In [333]:
np.split(Q,4)

[array([6, 6, 8, ..., 1, 1, 1]),
 array([24, 10,  1, ...,  2,  4,  2]),
 array([ 6,  3,  3, ..., 20,  8,  8]),
 array([12, 12, 24, ...,  4,  4,  3])]

#Task 126: Save your cleaned dataset to a CSV file.

In [334]:
df.to_csv("Cleaned_OnlineRetail.csv")

#Task 127: Save your cleaned dataset to an Excel file.

In [335]:
# df.to_excel("Cleaned_OnlineRetail.xlsx", index=False, engine='openpyxl')

#Task 128: Create an Excel file with multiple sheets:

Sheet 1: Full cleaned data

Sheet 2: Country-wise summary

Sheet 3: Monthly revenue trends

Sheet 4: Top 50 customers

In [336]:
merged = pivot1.merge(pivot2, on='Country', how='left').merge(pivot3, on='Country', how='left')

In [337]:
Revenue_Trends = pd.pivot_table(df,index='Month',values='Total Price',aggfunc='sum')

In [338]:
top_50 = df.groupby(['CustomerID','CustomerName'])['Total Price'].sum().reset_index().sort_values('Total Price',ascending=False).head(50)

#Task 129: Export the pivot table from Task 100 to Excel.

In [339]:
# pivot1.to_excel("Country_wise_monthly_trends.xlsx",index=False,engine='openpyxl')

#Task 130: Create a text file documenting all the insights you discovered from this analysis.

In [340]:
analysis = '''
Sales Data Analysis Insights

1. The revenue varies across different product categories.
2. Some categories generate significantly more revenue than others.
3. Customer spending behavior changes based on their purchase patterns.
4. Certain countries prefer specific product categories.
5. The most popular category in each country can be identified through order frequency.
6. Monthly revenue trends help identify peak sales periods.
7. Customer-level analysis reveals top spenders and loyal customers.
8. Product-wise performance shows which items drive the most sales.
9. Adding synthetic customer and product category data helps enrich the dataset.
10. Overall, the combined analysis provides a clear view of sales performance, customer behavior, and category popularity.
'''

In [341]:
with open("RetailAnalysis.txt","w") as fo:
  fo.write(analysis)